@import '../../styles/_color.css';

header .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    height: 65px;
    background-color: #212121;
    margin: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);

}

header .navbar-logo {
    display: block;
    
}

header .navbar img {
    width: 60px;
}

header .navbar .navbar-links{
    display: block;
    padding: 0;
    margin: 0;
    list-style: none;
}

header .navbar .navbar-links li{
    display: inline;
    margin-right: 15px;
}