<div class="slider">
    <div class="slide">
        <div class="slide-bg">
            <img class="slide-bg-img" src="https://image.tmdb.org/t/p/original/9n2tJBplPbgR2ca05hS5CKXwP2c.jpg" alt="">
        </div>
        <div class="slide-pane">
            <h2 class="name">The Super Mario Bros. Movie</h2>
            <div class="meta">
                <div class="info">
                    <span class="rating">
                        <span class="app-icons">star</span>
                        <span class="rating-value">7.5</span>
                        <span>/10</span>
                    </span>
                    <span>463 Reviews</span>
                    <span>2021</span>
                </div>
            </div>
            <div class="desc mt-6">
                description
            </div>
        </div>
    </div>
</div>