.movie-item {
    position: relative;
    display: block;
    min-height: 300px;
    border-radius: 5px;
    background-color: #212121;
    border: 1px solid #999;
}

.movie-item-image img{
    width: 100%;
    border-radius: 5px;
    height: 275px;
    object-fit: cover;
}

.movie-item-rating {
    position: absolute;
    display: flex;
    align-items: center;
    top: 10px;
    left: 10px;
    background-color: #212121;
    border-radius: 5px;
    padding: 5px 10px;
}

.app-icons{
    margin-right: 5px;
    color: #d4af37;
}
